@import url(https://fonts.googleapis.com/css?family=Dosis);

$color1 : #BBA52E;
$color2 : #B13D3D; 

html, body {
	width: 100%;
	height: 100%;
	color: white;
	background-color: $color2;
	font-family: 'Dosis';
	text-align:center
}

div {
	//margin-left: 10%;
  //margin-right: 50%;
}

header, input{
	//margin-left: 31%;
}

input {
	width: 400px;
	height: 60px;
}

#divCont {
	margin-top: -100px;
	margin-bottom: 170px;
}

#weatherIconContainer {
	width:200px;
	height:200px;
	margin-right: 350px;
}

#weatherIcon {
	position: absolute;
  clip: rect(0px,300px, 250px,0px);
}

