@import url(https://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic);
html {
  color: white;
  font-family: 'Marvel', sans-serif;
  text-align: center; }

body {
  margin-top: 0px;
  opacity: 0.85;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */ }

input {
  width: 75%;
  height: 35px;
  font-size: 2em;
  text-align: center;
  color: #b13d3d;
  border-radius: 8px; }

table {
  margin-right: auto;
  margin-left: auto; }

.loader {
  display: none; }

#loader {
  margin: 200px; }

#city {
  width: 75%;
  height: 75%;
  margin-top: -20px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #b13d3d; }

#cityContainer {
  margin-top: 80px; }

#weatherIconDiv {
  position: absolute;
  margin-left: -85px;
  display: inline; }

#weatherName {
  font-size: 2em; }

#weatherTemp {
  font-size: 4em;
  margin: 0px;
  margin-top: -30px; }

#weatherDescr {
  padding-top: 150px;
  font-size: 2em;
  margin: 0px; }

.pressure {
  padding-left: 70px;
  padding-right: 56px; }

.otherIcons {
  width: 50px;
  height: 50px; }

#windIcon {
  padding-left: 10px; }

#pressureIcon {
  width: 40px;
  height: 40px; }

.floatLeft {
  float: left; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 767px) {
  /* Styles */
  #city {
    width: 100%; }
  input {
    width: 100%; }
  #cityContainer {
    margin-top: 0px; }
  #loader {
    margin-left: auto;
    margin-right: auto; } }

/* End of Smartphones (portrait and landscape) ----------- */
