@import url(https://fonts.googleapis.com/css?family=Dosis);
html {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #B13D3D;
  font-family: 'Dosis';
  text-align: center; }

input {
  width: 300px;
  height: 45px;
  font-size: 2em;
  text-align: center;
  color: #B13D3D; }

table {
  margin-right: auto;
  margin-left: auto; }

#weatherIcon {
  position: absolute;
  margin-left: -85px; }

#weatherName {
  font-size: 2em; }

#weatherTemp {
  font-size: 6em;
  margin: 0px; }

#weatherDescr {
  font-size: 2em;
  margin: 0px; }

/*
.humidity {
	width: 23%; 
}

.pressure {
	width: 100px; 
	padding-left: 30px;
}

.wind {
	width: 400px;
}

#humSpan, #pressSpan, #windSpan  {
	font-size: 20px; 
	padding: 10px;
}

#pressSpan, #windSpan {
	float: left
}
*/
.otherIcons {
  width: 50px;
  height: 50px; }

#windIcon {
  padding-left: 10px; }

#pressureIcon {
  width: 40px;
  height: 40px;
  padding-left: 25px; }

.floatLeft {
  float: left; }
