@import url(https://fonts.googleapis.com/css?family=Dosis);

$color1 : #BBA52E;
$color2 : #B13D3D; 

html {
	color: white;
	font-family: 'Dosis';
	text-align:center;
}

body {
	margin-top: 50px;
	background-image: url("../img/bkg.jpeg");
	opacity: 0.85;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#city {
	width: 75%;
	height: 75%;
	margin-top: 50px;
	margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

#city {
	background-color: $color2;
}

input {
	width: 300px;
	height: 45px;
	font-size: 2em;
  text-align: center;
  color: $color2;
}

table {
	margin-right: auto;
  margin-left: auto;
}

#weatherIcon {
	
}

#weatherIconDiv {
	position: absolute;
	margin-left: -85px;
	display: inline;
}

#weatherName {
	font-size: 2em;
}

#weatherTemp {
	font-size: 6em;
	margin: 0px;
}

#weatherDescr {
	font-size: 2em;
	margin:0px;
}


.pressure {
	padding-left: 70px;
  padding-right: 70px;
}

.otherIcons {
	width:50px; 
	height:50px
}

#windIcon {
 padding-left: 10px;
}

#pressureIcon {
	width:40px; 
	height:40px; 
}

.floatLeft {
	float: left
}


