<div class="sparkline">
	<h3><b>{{weather.name}}, {{weather.sys.country}}</b> <span> - <small>{{date | date}}</small></span></h3>
	<h4>{{weather.main.temp-273.15 | number:0}}°C</h4>
	<div id="divCont"><span id="weatherIconContainer"><img id="weatherIcon" src="img/weatherIcons.png" alt="WeatherIcons.png"></span></div>
	<br><br><br>
	<p>{{weather.weather[0].description}}</span>
	<section>
	<p>{{weather.sys.sunrise | date:'HH:mm:ss' }}</p>
	<p>{{weather.sys.sunset | date:'HH:mm:ss' }}</p>
	</section>
	<section>
		<p>{{weather.main.humidity}}%</p>
		<p>{{weather.main.pressure | number:0}} hpa</p>
		<p>{{weather.wind.speed | number:0}} mph</p>
	</section>
</div>